nav.navbar-inverse {
  background-color: rgba(34, 34, 34, 0.6);
  border: none;
}

.jumbotron {
  background-color: #323232;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  color: #F7FAFE;
  padding: 140px 0 90px;
}

#mission {
  background-color: #323232;
  color: #F7FAFE;
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em;
}

#features {
  background-color: #A2DED0;
  font-family: 'Muli', sans-serif;
  padding-top: 30px;
  padding-bottom: 15px;
}
