#mission {
  background-color: #323232;
  color: #F7FAFE;
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em;
}

#features {
  background-color: #A2DED0;
  font-family: 'Muli', sans-serif;
  padding-top: 30px;
  padding-bottom: 15px;
}